[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "areaOfEffect"]
	path = areaOfEffect
	url = https://github.com/gcol33/areaofeffect
[submodule "corrselect"]
	path = corrselect
	url = https://github.com/gcol33/corrselect
[submodule "couplr"]
	path = couplr
	url = https://github.com/gcol33/couplr
[submodule "ggguides"]
	path = ggguides
	url = https://github.com/gcol33/ggguides
[submodule "hexify"]
	path = hexify
	url = https://github.com/gcol33/hexify
[submodule "joinspy"]
	path = joinspy
	url = https://github.com/gcol33/joinspy
[submodule "keyed"]
	path = keyed
	url = https://github.com/gcol33/keyed
